{% extends "base.html" %}
{% block body %}
<h1> Generate OTP </h1>
<form method="post" action="">
    <div class="form-group">
        <input type="tel" class="form-control" name="phone_number" placeholder="Enter your phone number">
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="channel" value="voice" checked>
            <label class="form-check-label">Voice</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="channel" value="sms">
            <label class="form-check-label">Sms</label>
        </div>
    </div>
    <button type="submit" class="btn btn-lg btn-info">Request For OTP</button>
</form>
{% endblock %}